In [1]:
from src.Databases.VectorDB import VectorDB
import numpy as np

In [2]:
meta_data = {"id":[]}
DB = VectorDB(top_k=2, meta_data=meta_data)

In [3]:
a = np.array([[1,6,6,4]])
b = np.array([[5,6,1,4]])
c = np.array([[6,1,6,4]])

In [4]:
DB.num_rows

0

In [5]:
DB.meta_data

Empty DataFrame
Columns: [id]
Index: []

In [32]:
DB.meta_data.loc[2] = [5,1]

In [6]:
DB.collection

array([], shape=(0, 0), dtype=float32)

In [9]:
DB.add(np.array(c), [30])

In [10]:
DB.search(a)

   id
2  30
1  20

In [ ]:
from src.ImageRecords import ImageRecords